<div class="content-holder clearfix">
  <div class="container">
    <h2>
      {{website_data.faq_title}}
    </h2>
    <dl class="faq-list">
      {% for question in website_data.questions %}
      <dt class="faq-list_h">
        <h4 class="marker">
          Q?
        </h4>
        <h4>
          {{question.question}}
        </h4>
      </dt>
      <dd class="faq-list_body">
        <h4 class="marker">
          A.
        </h4>
        <p>
          {% raw %} {{question.answer}} {% endraw %}
        </p>
      </dd>
      {% endfor %}
    </dl>
  </div>
</div>
